
@media screen and (min-width : 320px){

	#logo {
		width: 50px;
		height: 50px;
		
	}

	#update {
		width: 200px;
		height: 200px;
		padding-top: 200px;
	}

}

@media screen and (min-width: 768px) {

 #logo {

	display:block;
	width: 125px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
}

#update input {
	position: absolute;
	cursor: pointer;
	width:300px;
	height:300px;
	margin-right: auto;
	margin-left: auto;
	opacity: 0;
	z-index: 11px;
}

#update {
	position:relative;
	width:300px;
	height:300px;
	padding-top:100px;
	margin-right: auto;
	margin-left: auto;
	
}

#button {
	width:300px;
	height:300px;
	z-index:9px;
}

#about a {
	text-decoration: none;
	color:060606;
	 
}
#about a:link {
    color: #060606;
}

/* visited link */
#about a:visited {
    color: #060606;
}

/* mouse over link */
#about a:hover {
    color: #767272;
}

/* selected link */
#about a:active {
    color: #767272;
}

#about a {
	text-decoration: none;
	 
}

#about {
	display:inline;
	font-family: "Gujarati Sangam MN", "Times New Roman", "sans-serif";
	font-size: 14px;
	padding-top: 50px;
	margin-right: auto;
	

}




